<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Josh Grancell</title>

    <meta name="Description" content="Automation and Infrastructure Engineer focusing on configuration, automation, and infrastructure-as-code. An expert in highly available, fault tolerant infrastructure.">
    
    <link rel="preconnect" href="CDN_REPLACE" crossorigin>
    <link rel="icon" type="image/png" sizes="32x32" href="CDN_REPLACE/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="CDN_REPLACE/img/favicon-16x16.png">
    <link rel="stylesheet" href="CDN_REPLACE/css/app-VERS_REPLACE.css">
  </head>